body {
  padding: 0 4rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 60rem) {
  body {
    padding: 0 2rem;
  }

  .flex-row {
    display: flex;
    flex-direction: column;
  }
}