.section {
  .publication {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
  }

  .cat {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 0 3rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    img {
      max-height: 20rem;
      margin-bottom: .75rem;
    }

    .caption {
      font-size: .75rem;
    }

    @media (max-width: 60rem) {
      padding: 2rem;
      max-width: 100%;

      &:first-child {
        padding-left: 2rem;
      }

      &:last-child {
        padding-right: 2rem;
      }

      img {
        max-height: 100%;
      }
    }
  }
}